In [ ]:
import pandas as pd

In [ ]:
# Importation des avertissements et suppression des avertissements pour une meilleure lisibilité
import warnings
warnings.filterwarnings("ignore")

# Importation de la bibliothèque pandas et lecture du fichier CSV 'ADNI_Gene_Expression_Profile.csv' dans un DataFrame
df = pd.read_csv('ADNI_Gene_Expression_Profile.csv')

,Phase,Unnamed: 1,Unnamed: 2,ADNIGO,ADNI2,ADNI2.1,ADNIGO.1,ADNI2.2,ADNI2.3,ADNI2.4,...,ADNIGO.292,ADNI2.443,ADNIGO.293,ADNI2.444,ADNIGO.294,ADNI2.445,ADNI2.446,ADNI2.447,ADNI2.448,Unnamed: 747
0,Visit,NaN,NaN,m48,v03,v03,m48,v03,v03,v06,...,bl,v03,m60,v03,bl,v03,v03,v03,v06,NaN
1,SubjectID,NaN,NaN,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,...,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101,NaN
2,260/280,NaN,NaN,2.05,2.07,2.04,2.03,2.01,2.05,1.95,...,2.05,2.05,1.98,2.09,1.87,2.03,2.11,1.94,2.06,NaN
3,260/230,NaN,NaN,0.55,1.54,2.1,1.52,1.6,1.91,1.47,...,1.9,2.05,1.65,1.56,1.45,1.33,0.27,1.72,1.35,NaN
4,RIN,NaN,NaN,7.7,7.6,7.2,6.8,7.9,7,7.9,...,6.7,6.5,6.3,6.4,6.6,6.8,6.2,5.8,6.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49389,AFFX-r2-TagJ-5_at,NaN,NaN,2.05,1.933,1.985,1.916,2.077,1.788,2.063,...,1.993,2.16,1.909,1.805,2.017,1.885,1.807,2.188,1.962,{NO TARGETS} Clone 76F7 synthetic insert (960...
49390,AFFX-r2-TagO-3_at,NaN,NaN,2.06,1.717,1.77,1.878,1.838,1.872,1.824,...,1.628,2.041,1.777,1.839,1.886,1.742,1.781,1.74,1.906,{NO TARGETS} Clone 76G7 synthetic insert (999...
49391,AFFX-r2-TagO-5_at,NaN,NaN,1.858,2.208,2.184,2.163,2.085,2.266,2.063,...,2.194,2.381,2.191,2.176,2.371,2.177,2.11,2.501,2.3,{NO TARGETS} Clone 76G7 synthetic insert (999...
49392,AFFX-r2-TagQ-3_at,NaN,NaN,2.028,2.058,2.007,2.185,1.941,1.902,1.838,...,2.063,2.201,1.88,1.992,1.997,2.176,1.875,2.07,2.168,{NO TARGETS} Clone 76H1 synthetic insert (100...
49393,AFFX-r2-TagQ-5_at,NaN,NaN,2.162,1.882,2.134,2.099,1.883,1.902,1.829,...,1.921,2.25,2.252,1.975,1.996,2.151,1.915,2.151,2.368,{NO TARGETS} Clone 76H1 synthetic insert (100...

In [ ]:
df.head(10)

,Phase,Unnamed: 1,Unnamed: 2,ADNIGO,ADNI2,ADNI2.1,ADNIGO.1,ADNI2.2,ADNI2.3,ADNI2.4,...,ADNIGO.292,ADNI2.443,ADNIGO.293,ADNI2.444,ADNIGO.294,ADNI2.445,ADNI2.446,ADNI2.447,ADNI2.448,Unnamed: 747
0,Visit,NaN,NaN,m48,v03,v03,m48,v03,v03,v06,...,bl,v03,m60,v03,bl,v03,v03,v03,v06,NaN
1,SubjectID,NaN,NaN,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,...,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101,NaN
2,260/280,NaN,NaN,2.05,2.07,2.04,2.03,2.01,2.05,1.95,...,2.05,2.05,1.98,2.09,1.87,2.03,2.11,1.94,2.06,NaN
3,260/230,NaN,NaN,0.55,1.54,2.1,1.52,1.6,1.91,1.47,...,1.9,2.05,1.65,1.56,1.45,1.33,0.27,1.72,1.35,NaN
4,RIN,NaN,NaN,7.7,7.6,7.2,6.8,7.9,7,7.9,...,6.7,6.5,6.3,6.4,6.6,6.8,6.2,5.8,6.7,NaN
5,Affy Plate,NaN,NaN,7,3,6,7,9,4,3,...,8,6,9,3,8,5,3,1,4,NaN
6,YearofCollection,NaN,NaN,2011,2012,2011,2011,2011,2012,2011,...,2011,2012,2011,2012,2011,2012,2011,2011,2012,NaN
7,ProbeSet,LocusLink,Symbol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11715100_at,LOC8355,HIST1H3G,2.237,2.294,2.14,2.062,2.04,2.439,1.955,...,2.34,2.405,2.349,2.212,2.382,2.497,2.309,2.302,2.661,[HIST1H3G] histone cluster 1 H3g
9,11715101_s_at,LOC8355,HIST1H3G,2.624,2.416,2.322,2.5,2.395,2.309,2.451,...,2.53,2.513,2.754,2.559,2.277,2.466,2.607,2.569,2.679,[HIST1H3G] histone cluster 1 H3g

In [ ]:
# Définition de la colonne 'Phase' comme index du DataFrame
df = df.set_index('Phase')

# Renommage du nom de l'index à None pour une meilleure lisibilité
df.index.names = [None]

# Affichage des premières lignes du DataFrame après les modifications
df.head()

,Unnamed: 1,Unnamed: 2,ADNIGO,ADNI2,ADNI2.1,ADNIGO.1,ADNI2.2,ADNI2.3,ADNI2.4,ADNIGO.2,...,ADNIGO.292,ADNI2.443,ADNIGO.293,ADNI2.444,ADNIGO.294,ADNI2.445,ADNI2.446,ADNI2.447,ADNI2.448,Unnamed: 747
Visit,NaN,NaN,m48,v03,v03,m48,v03,v03,v06,bl,...,bl,v03,m60,v03,bl,v03,v03,v03,v06,NaN
SubjectID,NaN,NaN,116_S_1249,037_S_4410,006_S_4153,116_S_1232,099_S_4205,007_S_4467,128_S_0205,003_S_2374,...,022_S_2379,014_S_4668,130_S_0289,141_S_4456,009_S_2381,053_S_4557,073_S_4300,041_S_4014,007_S_0101,NaN
260/280,NaN,NaN,2.05,2.07,2.04,2.03,2.01,2.05,1.95,1.99,...,2.05,2.05,1.98,2.09,1.87,2.03,2.11,1.94,2.06,NaN
260/230,NaN,NaN,0.55,1.54,2.1,1.52,1.6,1.91,1.47,2.07,...,1.9,2.05,1.65,1.56,1.45,1.33,0.27,1.72,1.35,NaN
RIN,NaN,NaN,7.7,7.6,7.2,6.8,7.9,7,7.9,7.2,...,6.7,6.5,6.3,6.4,6.6,6.8,6.2,5.8,6.7,NaN

In [ ]:
# Transposition du DataFrame, échange des lignes et des colonnes
df = df.T

# Affichage du DataFrame après la transposition
df

,Visit,SubjectID,260/280,260/230,RIN,Affy Plate,YearofCollection,ProbeSet,11715100_at,11715101_s_at,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
Unnamed: 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LocusLink,LOC8355,LOC8355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Symbol,HIST1H3G,HIST1H3G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADNIGO,m48,116_S_1249,2.05,0.55,7.7,7,2011,NaN,2.237,2.624,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
ADNI2,v03,037_S_4410,2.07,1.54,7.6,3,2012,NaN,2.294,2.416,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
ADNI2.1,v03,006_S_4153,2.04,2.1,7.2,6,2011,NaN,2.14,2.322,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ADNI2.445,v03,053_S_4557,2.03,1.33,6.8,5,2012,NaN,2.497,2.466,...,2.046,2.585,1.997,2.732,2.181,1.885,1.742,2.177,2.176,2.151
ADNI2.446,v03,073_S_4300,2.11,0.27,6.2,3,2011,NaN,2.309,2.607,...,2.129,2.464,1.924,2.613,2.269,1.807,1.781,2.11,1.875,1.915
ADNI2.447,v03,041_S_4014,1.94,1.72,5.8,1,2011,NaN,2.302,2.569,...,2.331,2.695,2.108,2.661,2.383,2.188,1.74,2.501,2.07,2.151
ADNI2.448,v06,007_S_0101,2.06,1.35,6.7,4,2012,NaN,2.661,2.679,...,2.145,2.757,1.905,2.619,2.324,1.962,1.906,2.3,2.168,2.368
Unnamed: 747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[HIST1H3G] histone cluster 1 H3g,[HIST1H3G] histone cluster 1 H3g,...,{NO TARGETS} Clone 76E7 synthetic insert (848...,{NO TARGETS} Clone 84A3 synthetic insert (194...,{NO TARGETS} Clone 84A3 synthetic insert (194...,{NO TARGETS} Clone 84A3 synthetic insert (194...,{NO TARGETS} Clone 76F7 synthetic insert (960...,{NO TARGETS} Clone 76F7 synthetic insert (960...,{NO TARGETS} Clone 76G7 synthetic insert (999...,{NO TARGETS} Clone 76G7 synthetic insert (999...,{NO TARGETS} Clone 76H1 synthetic insert (100...,{NO TARGETS} Clone 76H1 synthetic insert (100...

In [ ]:
# Conversion de la colonne 'SubjectID' en type str (chaîne de caractères)
df['SubjectID'] = df['SubjectID'].astype(str)

In [ ]:
# Insérer les colonnes 'RID' et 'final_diagnosis' avec des valeurs 'nan' (non disponibles) à la position 2 et 3 respectivement
df.insert(2, 'RID', 'nan')
df.insert(3, 'final_diagnosis', 'nan')

# Afficher les premières lignes du DataFrame après l'insertion des colonnes
df.head()

,Visit,SubjectID,RID,final_diagnosis,260/280,260/230,RIN,Affy Plate,YearofCollection,ProbeSet,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
Unnamed: 1,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,LocusLink,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,Symbol,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADNIGO,m48,116_S_1249,nan,nan,2.05,0.55,7.7,7,2011,NaN,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
ADNI2,v03,037_S_4410,nan,nan,2.07,1.54,7.6,3,2012,NaN,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
ADNI2.1,v03,006_S_4153,nan,nan,2.04,2.1,7.2,6,2011,NaN,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134

In [ ]:
# Lecture du fichier CSV 'adni_pts_info.csv' dans un nouveau DataFrame
df_pheno = pd.read_csv('adni_pts_info.csv')

# Affichage du DataFrame contenant les informations phénotypiques
df_pheno

      RID final_diagnosis
0    1249              NL
1    4410              NL
2    4153              AD
3    1232              NL
4    4205             MCI
..    ...             ...
729  2381             MCI
730  4557             MCI
731  4300             MCI
732  4014              NL
733   101              AD

[734 rows x 2 columns]

In [ ]:
# Conversion de la colonne 'RID' en type str (chaîne de caractères)
df_pheno['RID'] = df_pheno['RID'].astype(str)

In [ ]:
# Ajout d'une nouvelle colonne 'Length' contenant la longueur de chaque valeur dans la colonne 'RID'
df_pheno["Length"] = df_pheno["RID"].str.len()

# Affichage du DataFrame avec la colonne 'Length' ajoutée
df_pheno

      RID final_diagnosis  Length
0    1249              NL       4
1    4410              NL       4
2    4153              AD       4
3    1232              NL       4
4    4205             MCI       4
..    ...             ...     ...
729  2381             MCI       4
730  4557             MCI       4
731  4300             MCI       4
732  4014              NL       4
733   101              AD       3

[734 rows x 3 columns]

In [ ]:
# Parcourir chaque ligne du DataFrame
for i in range(len(df_pheno)):
    # Vérifier la longueur de l'identifiant RID
    if df_pheno['Length'][i] == 1:
        # Si la longueur est 1, ajouter trois zéros à gauche
        df_pheno['RID'][i] = '000' + df_pheno['RID'][i]
    elif df_pheno['Length'][i] == 2:
        # Si la longueur est 2, ajouter deux zéros à gauche
        df_pheno['RID'][i] = '00' + df_pheno['RID'][i]
    elif df_pheno['Length'][i] == 3:
        # Si la longueur est 3, ajouter un zéro à gauche
        df_pheno['RID'][i] = '0' + df_pheno['RID'][i]

In [ ]:
df_pheno

      RID final_diagnosis  Length
0    1249              NL       4
1    4410              NL       4
2    4153              AD       4
3    1232              NL       4
4    4205             MCI       4
..    ...             ...     ...
729  2381             MCI       4
730  4557             MCI       4
731  4300             MCI       4
732  4014              NL       4
733  0101              AD       3

[734 rows x 3 columns]

In [ ]:
# Réinitialisation de l'index du DataFrame
df = df.reset_index()

# Affichage des premières lignes du DataFrame après la réinitialisation de l'index
df.head()

,index,Visit,SubjectID,RID,final_diagnosis,260/280,260/230,RIN,Affy Plate,YearofCollection,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
0,Unnamed: 1,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Unnamed: 2,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADNIGO,m48,116_S_1249,nan,nan,2.05,0.55,7.7,7,2011,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
3,ADNI2,v03,037_S_4410,nan,nan,2.07,1.54,7.6,3,2012,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
4,ADNI2.1,v03,006_S_4153,nan,nan,2.04,2.1,7.2,6,2011,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134

In [ ]:
# Parcourir chaque ligne du DataFrame 'df'
for i in range(len(df)):
    # Parcourir chaque ligne du DataFrame 'df_pheno'
    for j in range(len(df_pheno)):
        # Vérifier si l'identifiant RID dans 'df_pheno' est présent dans 'SubjectID' de 'df'
        if df_pheno['RID'][j] in df['SubjectID'][i]:
            # Si c'est le cas, associer le RID et le diagnostic final correspondants à l'identifiant de sujet dans 'df'
            df['RID'][i] = df_pheno['RID'][j]
            df['final_diagnosis'][i] = df_pheno['final_diagnosis'][j]

In [ ]:
df

,index,Visit,SubjectID,RID,final_diagnosis,260/280,260/230,RIN,Affy Plate,YearofCollection,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
0,Unnamed: 1,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Unnamed: 2,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADNIGO,m48,116_S_1249,1249,NL,2.05,0.55,7.7,7,2011,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
3,ADNI2,v03,037_S_4410,4410,NL,2.07,1.54,7.6,3,2012,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
4,ADNI2.1,v03,006_S_4153,4153,AD,2.04,2.1,7.2,6,2011,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,ADNI2.445,v03,053_S_4557,4557,MCI,2.03,1.33,6.8,5,2012,...,2.046,2.585,1.997,2.732,2.181,1.885,1.742,2.177,2.176,2.151
743,ADNI2.446,v03,073_S_4300,4300,MCI,2.11,0.27,6.2,3,2011,...,2.129,2.464,1.924,2.613,2.269,1.807,1.781,2.11,1.875,1.915
744,ADNI2.447,v03,041_S_4014,4014,NL,1.94,1.72,5.8,1,2011,...,2.331,2.695,2.108,2.661,2.383,2.188,1.74,2.501,2.07,2.151
745,ADNI2.448,v06,007_S_0101,0101,AD,2.06,1.35,6.7,4,2012,...,2.145,2.757,1.905,2.619,2.324,1.962,1.906,2.3,2.168,2.368
746,Unnamed: 747,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,...,{NO TARGETS} Clone 76E7 synthetic insert (848...,{NO TARGETS} Clone 84A3 synthetic insert (194...,{NO TARGETS} Clone 84A3 synthetic insert (194...,{NO TARGETS} Clone 84A3 synthetic insert (194...,{NO TARGETS} Clone 76F7 synthetic insert (960...,{NO TARGETS} Clone 76F7 synthetic insert (960...,{NO TARGETS} Clone 76G7 synthetic insert (999...,{NO TARGETS} Clone 76G7 synthetic insert (999...,{NO TARGETS} Clone 76H1 synthetic insert (100...,{NO TARGETS} Clone 76H1 synthetic insert (100...

In [ ]:
df[2:746]

,index,Visit,SubjectID,RID,final_diagnosis,260/280,260/230,RIN,Affy Plate,YearofCollection,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
2,ADNIGO,m48,116_S_1249,1249,NL,2.05,0.55,7.7,7,2011,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
3,ADNI2,v03,037_S_4410,4410,NL,2.07,1.54,7.6,3,2012,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
4,ADNI2.1,v03,006_S_4153,4153,AD,2.04,2.1,7.2,6,2011,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
5,ADNIGO.1,m48,116_S_1232,1232,NL,2.03,1.52,6.8,7,2011,...,2.094,2.599,1.837,2.713,2.158,1.916,1.878,2.163,2.185,2.099
6,ADNI2.2,v03,099_S_4205,4205,MCI,2.01,1.6,7.9,9,2011,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,ADNIGO.294,bl,009_S_2381,2381,MCI,1.87,1.45,6.6,8,2011,...,2.383,2.937,1.964,2.662,2.478,2.017,1.886,2.371,1.997,1.996
742,ADNI2.445,v03,053_S_4557,4557,MCI,2.03,1.33,6.8,5,2012,...,2.046,2.585,1.997,2.732,2.181,1.885,1.742,2.177,2.176,2.151
743,ADNI2.446,v03,073_S_4300,4300,MCI,2.11,0.27,6.2,3,2011,...,2.129,2.464,1.924,2.613,2.269,1.807,1.781,2.11,1.875,1.915
744,ADNI2.447,v03,041_S_4014,4014,NL,1.94,1.72,5.8,1,2011,...,2.331,2.695,2.108,2.661,2.383,2.188,1.74,2.501,2.07,2.151
745,ADNI2.448,v06,007_S_0101,0101,AD,2.06,1.35,6.7,4,2012,...,2.145,2.757,1.905,2.619,2.324,1.962,1.906,2.3,2.168,2.368

In [ ]:
df_cleaned = df[2:746]
df_cleaned

,index,Visit,SubjectID,RID,final_diagnosis,260/280,260/230,RIN,Affy Plate,YearofCollection,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
2,ADNIGO,m48,116_S_1249,1249,NL,2.05,0.55,7.7,7,2011,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
3,ADNI2,v03,037_S_4410,4410,NL,2.07,1.54,7.6,3,2012,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
4,ADNI2.1,v03,006_S_4153,4153,AD,2.04,2.1,7.2,6,2011,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
5,ADNIGO.1,m48,116_S_1232,1232,NL,2.03,1.52,6.8,7,2011,...,2.094,2.599,1.837,2.713,2.158,1.916,1.878,2.163,2.185,2.099
6,ADNI2.2,v03,099_S_4205,4205,MCI,2.01,1.6,7.9,9,2011,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,ADNIGO.294,bl,009_S_2381,2381,MCI,1.87,1.45,6.6,8,2011,...,2.383,2.937,1.964,2.662,2.478,2.017,1.886,2.371,1.997,1.996
742,ADNI2.445,v03,053_S_4557,4557,MCI,2.03,1.33,6.8,5,2012,...,2.046,2.585,1.997,2.732,2.181,1.885,1.742,2.177,2.176,2.151
743,ADNI2.446,v03,073_S_4300,4300,MCI,2.11,0.27,6.2,3,2011,...,2.129,2.464,1.924,2.613,2.269,1.807,1.781,2.11,1.875,1.915
744,ADNI2.447,v03,041_S_4014,4014,NL,1.94,1.72,5.8,1,2011,...,2.331,2.695,2.108,2.661,2.383,2.188,1.74,2.501,2.07,2.151
745,ADNI2.448,v06,007_S_0101,0101,AD,2.06,1.35,6.7,4,2012,...,2.145,2.757,1.905,2.619,2.324,1.962,1.906,2.3,2.168,2.368

In [ ]:
# Filtrer les lignes où la colonne 'RIN' ne contient pas la chaîne de caractères "Ok"
df_cleaned = df_cleaned[df_cleaned["RIN"].str.contains("Ok") == False]

# Afficher le DataFrame filtré
df_cleaned

,index,Visit,SubjectID,RID,final_diagnosis,260/280,260/230,RIN,Affy Plate,YearofCollection,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
2,ADNIGO,m48,116_S_1249,1249,NL,2.05,0.55,7.7,7,2011,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
3,ADNI2,v03,037_S_4410,4410,NL,2.07,1.54,7.6,3,2012,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
4,ADNI2.1,v03,006_S_4153,4153,AD,2.04,2.1,7.2,6,2011,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
5,ADNIGO.1,m48,116_S_1232,1232,NL,2.03,1.52,6.8,7,2011,...,2.094,2.599,1.837,2.713,2.158,1.916,1.878,2.163,2.185,2.099
6,ADNI2.2,v03,099_S_4205,4205,MCI,2.01,1.6,7.9,9,2011,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,ADNIGO.294,bl,009_S_2381,2381,MCI,1.87,1.45,6.6,8,2011,...,2.383,2.937,1.964,2.662,2.478,2.017,1.886,2.371,1.997,1.996
742,ADNI2.445,v03,053_S_4557,4557,MCI,2.03,1.33,6.8,5,2012,...,2.046,2.585,1.997,2.732,2.181,1.885,1.742,2.177,2.176,2.151
743,ADNI2.446,v03,073_S_4300,4300,MCI,2.11,0.27,6.2,3,2011,...,2.129,2.464,1.924,2.613,2.269,1.807,1.781,2.11,1.875,1.915
744,ADNI2.447,v03,041_S_4014,4014,NL,1.94,1.72,5.8,1,2011,...,2.331,2.695,2.108,2.661,2.383,2.188,1.74,2.501,2.07,2.151
745,ADNI2.448,v06,007_S_0101,0101,AD,2.06,1.35,6.7,4,2012,...,2.145,2.757,1.905,2.619,2.324,1.962,1.906,2.3,2.168,2.368

In [ ]:
# Conversion de la colonne 'RIN' en type de données float
df_cleaned['RIN'] = df_cleaned['RIN'].astype(float)

In [ ]:
# Filtrer les lignes où la valeur dans la colonne 'RIN' est supérieure ou égale à 6.9
df_cleaned = df_cleaned[df_cleaned['RIN'] >= 6.9]

# Afficher le DataFrame filtré
df_cleaned

,index,Visit,SubjectID,RID,final_diagnosis,260/280,260/230,RIN,Affy Plate,YearofCollection,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
2,ADNIGO,m48,116_S_1249,1249,NL,2.05,0.55,7.7,7,2011,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
3,ADNI2,v03,037_S_4410,4410,NL,2.07,1.54,7.6,3,2012,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
4,ADNI2.1,v03,006_S_4153,4153,AD,2.04,2.1,7.2,6,2011,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
6,ADNI2.2,v03,099_S_4205,4205,MCI,2.01,1.6,7.9,9,2011,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883
7,ADNI2.3,v03,007_S_4467,4467,MCI,2.05,1.91,7.0,4,2012,...,2.143,2.653,1.834,2.594,2.432,1.788,1.872,2.266,1.902,1.902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,ADNI2.439,v03,036_S_4562,4562,MCI,2.06,1.55,7.1,6,2012,...,2.422,2.944,1.694,2.527,2.482,1.9,1.768,2.103,2.081,2.124
732,ADNIGO.290,m48,137_S_0459,0459,MCI,2.05,1.96,6.9,2,2010,...,2.252,2.697,1.881,2.622,2.236,1.86,1.709,2.604,1.869,2.254
733,ADNI2.440,v03,018_S_4696,4696,AD,2.05,0.66,8.2,9,2012,...,2.157,2.622,1.775,2.823,2.382,1.931,1.778,2.486,2.023,1.931
734,ADNI2.441,v03,023_S_4164,4164,NL,2.02,1.9,6.9,7,2011,...,2.23,2.608,2.005,2.838,2.208,1.77,2.033,2.287,2.129,2.271
735,ADNIGO.291,bl,128_S_2130,2130,MCI,2.03,2.06,7.2,6,2011,...,2.283,3.092,1.816,2.742,2.323,1.777,1.858,2.241,2.006,2.328

In [ ]:
# Afficher les valeurs uniques dans la colonne 'RIN'
unique_RIN_values = df_cleaned['RIN'].unique()
print(unique_RIN_values)

array([7.7, 7.6, 7.2, 7.9, 7. , 7.1, 6.9, 7.8, 7.4, 7.3, 8.1, 7.5, 8.2,
       8. , 8.3])

In [ ]:
# Exporter le DataFrame au format CSV sans inclure l'index
df_cleaned.to_csv('cleaned26_07.csv', index=False)

In [ ]:
# Réinitialiser l'index du DataFrame 'df_cleaned' sans conserver l'index précédent
df_cleaned = df_cleaned.reset_index(drop=True)

# Afficher le DataFrame avec le nouvel index
df_cleaned

,index,Visit,SubjectID,RID,final_diagnosis,260/280,260/230,RIN,Affy Plate,YearofCollection,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
0,ADNIGO,m48,116_S_1249,1249,NL,2.05,0.55,7.7,7,2011,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
1,ADNI2,v03,037_S_4410,4410,NL,2.07,1.54,7.6,3,2012,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
2,ADNI2.1,v03,006_S_4153,4153,AD,2.04,2.1,7.2,6,2011,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
3,ADNI2.2,v03,099_S_4205,4205,MCI,2.01,1.6,7.9,9,2011,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883
4,ADNI2.3,v03,007_S_4467,4467,MCI,2.05,1.91,7.0,4,2012,...,2.143,2.653,1.834,2.594,2.432,1.788,1.872,2.266,1.902,1.902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,ADNI2.439,v03,036_S_4562,4562,MCI,2.06,1.55,7.1,6,2012,...,2.422,2.944,1.694,2.527,2.482,1.9,1.768,2.103,2.081,2.124
427,ADNIGO.290,m48,137_S_0459,0459,MCI,2.05,1.96,6.9,2,2010,...,2.252,2.697,1.881,2.622,2.236,1.86,1.709,2.604,1.869,2.254
428,ADNI2.440,v03,018_S_4696,4696,AD,2.05,0.66,8.2,9,2012,...,2.157,2.622,1.775,2.823,2.382,1.931,1.778,2.486,2.023,1.931
429,ADNI2.441,v03,023_S_4164,4164,NL,2.02,1.9,6.9,7,2011,...,2.23,2.608,2.005,2.838,2.208,1.77,2.033,2.287,2.129,2.271
430,ADNIGO.291,bl,128_S_2130,2130,MCI,2.03,2.06,7.2,6,2011,...,2.283,3.092,1.816,2.742,2.323,1.777,1.858,2.241,2.006,2.328

In [ ]:
# Afficher les valeurs uniques dans la colonne 'AFFX-r2-TagJ-5_at'
unique_values = df_cleaned['AFFX-r2-TagJ-5_at'].unique()
print(unique_values)

array([2.05, 1.933, 1.985, 2.077, 1.788, 2.063, 2.059, 1.98, 1.888, 1.936,
       1.808, 2.061, 1.954, 2.066, 1.66, 1.945, 2.245, 1.899, 2.062,
       1.984, 1.721, 2.018, 1.886, 2.085, 1.77, 1.916, 1.917, 2.181,
       2.241, 1.905, 1.983, 1.963, 1.797, 1.852, 1.989, 2.127, 1.904,
       2.026, 1.891, 2.054, 1.958, 1.912, 1.86, 1.919, 1.965, 2.18, 1.944,
       2.046, 1.845, 1.967, 2.003, 2.299, 2.079, 2.205, 1.959, 1.95,
       1.693, 1.806, 2.184, 1.942, 1.968, 2.183, 1.776, 2.064, 1.801,
       1.91, 1.876, 2.081, 1.972, 2.087, 1.939, 1.947, 1.878, 2.092,
       1.988, 1.875, 2.013, 1.798, 1.922, 1.854, 1.928, 1.93, 2.139,
       2.137, 1.88, 1.978, 2.036, 2.395, 1.834, 2.025, 1.966, 1.987,
       1.909, 2.146, 1.827, 1.894, 2.049, 2.014, 2.032, 1.746, 1.725,
       1.931, 2.051, 2.194, 1.934, 1.767, 2.022, 1.895, 2.028, 1.862,
       1.823, 1.926, 2.102, 2.114, 2.228, 1.863, 2.042, 2.055, 1.951,
       1.858, 1.787, 1.892, 1.846, 1.961, 2.009, 1.948, 1.82, 1.864,
       1.877, 1.941, 1.908, 1.873, 2.001, 2.01, 1.825, 2.235, 2.019,
       2.185, 1.884, 1.879, 2.082, 2.038, 1.78, 2.073, 1.753, 1.999,
       1.817, 2.109, 1.785, 1.848, 1.957, 1.814, 1.89, 1.974, 2.084,
       1.906, 1.937, 1.869, 1.874, 2.011, 1.791, 2.033, 2.192, 1.96, 1.97,
       1.883, 1.949, 2.129, 2.052, 1.744, 1.745, 1.996, 1.979, 1.94,
       1.935, 1.993, 1.74, 1.971, 1.946, 1.994, 1.703, 1.813, 1.977, 2.03,
       1.839, 2.035, 1.918, 2.157, 2.095, 2.17, 1.998, 1.794, 2.132,
       2.123, 1.756, 2.091, 2.096, 1.861, 1.956, 1.871, 2.206, 1.802,
       1.898, 1.842, 1.921, 1.699, 1.69, 1.952, 1.747, 2.149, 1.902,
       1.991, 1.865, 1.748, 2.093, 1.986, 1.832, 2.016, 1.853, 1.969,
       1.914, 1.885, 1.87, 1.761, 1.758, 1.982, 1.829, 2.214, 2.012,
       2.126, 1.719, 1.782, 1.741, 2.152, 1.83, 1.868, 1.781, 1.981,
       1.773, 1.824, 1.84, 1.881, 1.915, 1.866, 2.043, 2.06, 1.882, 1.843,
       2.04, 2.103, 2.058, 2.171, 2.138, 1.927, 1.849, 2.162, 1.925,
       2.017, 1.997, 1.859, 1.837, 1.851, 1.9, 1.777], dtype=object)

In [ ]:
# Supprimer les colonnes spécifiées du DataFrame
df_cleaned.drop('Visit', axis=1, inplace=True)
df_cleaned.drop('index', axis=1, inplace=True)
df_cleaned.drop('260/280', axis=1, inplace=True)
df_cleaned.drop('260/230', axis=1, inplace=True)
df_cleaned.drop('RIN', axis=1, inplace=True)
df_cleaned.drop('YearofCollection', axis=1, inplace=True)
df_cleaned.drop('ProbeSet', axis=1, inplace=True)
df_cleaned.drop('Affy Plate', axis=1, inplace=True)
df_cleaned.drop('RID', axis=1, inplace=True)

In [ ]:
df_cleaned

,SubjectID,final_diagnosis,11715100_at,11715101_s_at,11715102_x_at,11715103_x_at,11715104_s_at,11715105_at,11715106_x_at,11715107_s_at,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
0,116_S_1249,NL,2.237,2.624,1.873,2.92,2.147,2.268,2.432,4.6,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
1,037_S_4410,NL,2.294,2.416,1.884,2.668,2.156,2.13,2.27,4.547,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
2,006_S_4153,AD,2.14,2.322,1.999,3.634,2.516,1.957,2.333,4.442,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
3,099_S_4205,MCI,2.04,2.395,2.08,3.278,2.251,2.154,2.334,4.536,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883
4,007_S_4467,MCI,2.439,2.309,1.997,3.578,2.235,2.055,2.45,4.805,...,2.143,2.653,1.834,2.594,2.432,1.788,1.872,2.266,1.902,1.902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,036_S_4562,MCI,2.508,2.642,2.071,3.262,1.893,2.283,2.325,4.961,...,2.422,2.944,1.694,2.527,2.482,1.9,1.768,2.103,2.081,2.124
427,137_S_0459,MCI,2.433,2.31,1.755,3.851,2.289,2.579,2.299,4.67,...,2.252,2.697,1.881,2.622,2.236,1.86,1.709,2.604,1.869,2.254
428,018_S_4696,AD,2.313,2.344,1.891,3.2,2.142,2.127,2.468,4.33,...,2.157,2.622,1.775,2.823,2.382,1.931,1.778,2.486,2.023,1.931
429,023_S_4164,NL,2.505,2.478,2.072,3.179,2.167,2.099,2.332,4.36,...,2.23,2.608,2.005,2.838,2.208,1.77,2.033,2.287,2.129,2.271
430,128_S_2130,MCI,2.167,2.153,1.831,3.37,2.246,2.042,2.539,4.657,...,2.283,3.092,1.816,2.742,2.323,1.777,1.858,2.241,2.006,2.328

In [ ]:
# Définir la colonne 'SubjectID' comme index du DataFrame
df_cleaned = df_cleaned.set_index('SubjectID')

# Réinitialiser le nom de l'index à None pour une meilleure lisibilité
df_cleaned.index.names = [None]

# Afficher les premières lignes du DataFrame avec l'index mis à jour
df_cleaned.head()

,final_diagnosis,11715100_at,11715101_s_at,11715102_x_at,11715103_x_at,11715104_s_at,11715105_at,11715106_x_at,11715107_s_at,11715108_x_at,...,AFFX-r2-TagH_at,AFFX-r2-TagIN-3_at,AFFX-r2-TagIN-5_at,AFFX-r2-TagIN-M_at,AFFX-r2-TagJ-3_at,AFFX-r2-TagJ-5_at,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at
116_S_1249,NL,2.237,2.624,1.873,2.92,2.147,2.268,2.432,4.6,2.771,...,2.355,2.624,2.01,2.906,2.463,2.05,2.06,1.858,2.028,2.162
037_S_4410,NL,2.294,2.416,1.884,2.668,2.156,2.13,2.27,4.547,2.363,...,2.1,2.82,1.726,2.465,2.26,1.933,1.717,2.208,2.058,1.882
006_S_4153,AD,2.14,2.322,1.999,3.634,2.516,1.957,2.333,4.442,2.544,...,2.165,2.455,1.84,2.681,2.251,1.985,1.77,2.184,2.007,2.134
099_S_4205,MCI,2.04,2.395,2.08,3.278,2.251,2.154,2.334,4.536,2.546,...,1.973,2.544,1.909,2.548,2.266,2.077,1.838,2.085,1.941,1.883
007_S_4467,MCI,2.439,2.309,1.997,3.578,2.235,2.055,2.45,4.805,2.576,...,2.143,2.653,1.834,2.594,2.432,1.788,1.872,2.266,1.902,1.902

In [ ]:
# Exporter le DataFrame au format CSV en incluant l'index
df_cleaned.to_csv('cleaned2_26_07.csv', index=True)